@using Kafkaf.Config
@using Microsoft.Extensions.Options
@inject IOptions<List<ClusterConfigOptions>> ClusterOptions;


<div class="accordion" id="accordionDashboard">
	@for (var i = 0; i < Clusters.Count; i++)
	{
		var cluster = @Clusters[i];
		var headerId = $"heading{i + 1}";
		var collapseId = $"collapse{i + 1}";

		<div class="accordion-item">
			<h4 class="accordion-header" id="@headerId">
				<button class="accordion-button collapsed"
						title="@cluster.Address"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="@($"#{collapseId}")"
						aria-expanded="false"
						aria-controls="@collapseId">
					@cluster.Alias
				</button>
			</h4>

			<div id="@collapseId"
				 class="accordion-collapse collapse"
				 aria-labelledby="@headerId"
				 data-bs-parent="#accordionDashboard">

				<div class="accordion-body">
					<p class="fs-6 text-truncate">
						<i>@cluster.Address</i>
					</p>

					<div class="nav-item px-3 mt-2 mb-2">
						<NavLink class="nav-link" href="@($"/{i+1}/brokers")">
							<span class="" aria-hidden="true"></span> Brokers
						</NavLink>
					</div>
					<div class="nav-item px-3 mt-2 mb-2">
						<NavLink class="nav-link" href="@($"/{i + 1}/topics")">
							<span class="" aria-hidden="true"></span> Topics
						</NavLink>
					</div>
					<div class="nav-item px-3 mt-2 mb-2">
						<NavLink class="nav-link" href="@($"/{i+1}/consumers")">
							<span class="" aria-hidden="true"></span> Consumers
						</NavLink>
					</div>
				</div>
			</div>
		</div>

	}
</div>

@code {
	private List<ClusterConfigOptions> Clusters = new List<ClusterConfigOptions>();

	protected override void OnInitialized()
	{
		Clusters = ClusterOptions.Value;

		base.OnInitialized();
	}
}
