@page "/clusters/{address}/details"
@rendermode InteractiveServer

@using Confluent.Kafka
@using Confluent.Kafka.Admin
@using Kafkaf.Config
@using Microsoft.Extensions.Options

@inject IOptions<List<ClusterConfigOptions>> Clusters; 

<PageTitle>Clusters: Details</PageTitle>

<h1>Cluster Details for: @Address</h1>

<table class="table">
    <caption>Cluster id: @ClusterId</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Rack</th>
            <th>Host</th>
            <th>Port</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var node in Nodes)
        {
            <tr>
                <td>@node.Id</td>
                <td>@node.Rack</td>
                <td>@node.Host</td>
                <td>@node.Port</td>                
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public string? Address { get; set; }

    public string? ClusterId { get; set; }

    public List<Node> Nodes { get; set; } = new List<Node>();

    public int ControllerId { get; set; } = -1;    


    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine("OnInitialized");
    }

    protected override async Task OnParametersSetAsync()
    {
        var config = new AdminClientConfig
        {
            BootstrapServers = "localhost:9092"
            // Add security settings here if needed (see section 5)
        };

        using var admin = new AdminClientBuilder(config).Build();
        
        var cluster = await admin.DescribeClusterAsync();

        Nodes = cluster.Nodes;
        ClusterId = cluster.ClusterId;
        //ControllerId = cluster.Controller.Id;

        await base.OnParametersSetAsync();
    }    
}
