@using Kafkaf.Config
@using Microsoft.Extensions.Options

@page "/clusters"
@rendermode InteractiveServer
@inject IOptions<List<ClusterConfigOptions>> Clusters
@inject NavigationManager NavManager

<PageTitle>Clusters: List</PageTitle>

<div class="card">
    <div class="card-header">
        <h3>Clusters: List</h3>
    </div>
    <div class="card-body">
        <EditForm Model="@this">
            <table class="table">
                <thead>
                    <th>Address</th>
                    <th>Alias</th>
                    <th>User Name</th>
                    <th>Password</th>                    
                </thead>
                <tbody>
                    <InputRadioGroup @bind-Value="SelectedAddress" Name="clusterAddress">
                    @foreach(var cluster in Clusters.Value)
                    {
                        <tr>
                            <td>
                                <label class="form-check-label">
                                    <InputRadio Value="@(cluster.Alias)" class="form-check-input" />                                    
                                    @cluster.Address
                                </label>
                            </td>
                            <td>@cluster.Alias</td>
                            <td>@cluster.UserName</td>
                            <td>@cluster.Password</td>                            
                        </tr>                    
                    }
                    </InputRadioGroup>                    
                </tbody>
            </table>
        </EditForm>
        
    </div>
    <div class="card-footer">                
        SelectedAddress: <a @onclick="NavigateToAddress" href="#">@SelectedAddress</a>                                    
    </div>
</div>




@code {
    private string? _selectedAddress;
    private string? SelectedAddress 
    { 
        get => _selectedAddress;
        set
        {
            _selectedAddress = value;            
        }
    }

    private void NavigateToAddress()
    {
        NavManager.NavigateTo($"/clusters/{_selectedAddress}/details");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }    
}
