@page "/"
@rendermode InteractiveServer

<KafkafPageHeader Title="Kafkaf: Home" H1="Kafkaf: Home" />

<div class="card">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col-1 bg-light text-center p-2 rounded-2 border">
                    <div class="badge bg-success d-block">Online</div>
                    <div>@onlineClusters.Count clusters</div>
                </div>
                <div class="col-1 bg-light text-center text-center p-2 rounded-2 border ms-1">
                    <div class="badge bg-body-secondary d-block">Offline</div>
                    <div>@offlineClusters.Count clusters</div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">        
        <h5>Only online clusters</h5>

        <!-- TODO: component-->
        @if (loading)
        {
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>Cluster name</th>
                    <th>Version</th>
                    <th>Brokers count</th>
                    <th>Partitions</th>
                    <th>Topics</th>
                    <th>Production</th>
                    <th>Consumption</th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var infoRow in onlineClusters)
                {                    
                    <tr>
                        <td>@infoRow.ClusterName</td>
                        <td>@infoRow.Version TODO</td>
                        <td>@infoRow.BrokersCount</td>
                        <td>@infoRow.PartitionsCount TODO</td>
                        <td>@infoRow.TopicsCount</td>
                        <td>@infoRow.Production TODO</td>
                        <td>@infoRow.Consumption TODO</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">        
        <em>Offline/unreachble clusters</em>
        <ul>
            @foreach(var oc in offlineClusters)
            {
                <li>@oc.alias (@oc.address)</li>
            }
        </ul>
    </div>
</div>

@code {
                 
}