@page "/"
@rendermode InteractiveServer

<KafkafPageHeader Title="Kafkaf: Home" H1="Kafkaf: Home" />

<table class="table">
    <thead>
        <tr>
            <th>Cluster name</th>
            <th>Version</th>
            <th>Brokers count</th>
            <th>Partitions</th>
            <th>Topics</th>
            <th>Production</th>
            <th>Consumption</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var infoRow in clusters)
        {
            var ok = infoRow.ok?.ToString();

            <tr>
                <td>@infoRow.ClusterName</td>
                <td>@infoRow.Version TODO</td>
                <td>@infoRow.BrokersCount</td>
                <td>@infoRow.PartitionsCount TODO</td>
                <td>@infoRow.TopicsCount</td>
                <td>@infoRow.Production TODO</td>
                <td>@infoRow.Consumption TODO</td>
                <td>
                    @switch (infoRow.ok)
                    {
                        case true:
                            <span class="badge text-bg-success me-1">Up</span>
                            <i title="Last checked" class="small">(@infoRow.LastCheck?.ToShortTimeString())</i>
                            break;

                        case false:
                            <span class="badge badge-bg-danger me-1">Down</span>
                            <i title="Last checked" class="small">(@infoRow.LastCheck?.ToShortTimeString())</i>
                            break;

                        default:
                            <span class="badge text-bg-secondary">not checked</span>
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (loading)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <button class="btn btn-primary" @onclick="HandlePingServers">Ping Servers</button>   
}

@code {
                 
}